body{
font-family: ;
margin-bottom: 100px;


}

section{
    background-color: blue;
padding-top: 60px;
padding-bottom: 60px;
display: flex;
justify-content: center;
}
header{
    margin: 5%;
font-size: 40px;
text-align: center;
color: black;
border-bottom: ;
}
img{
    height: 200px;
}
.categoria.video{
display: flex;
overflow-x: auto;
gap: 10px;
padding-right: 20px;
}
